body {
	font-family: 'Roboto', sans-serif, 'Tahoma';
	color:#0c5460;
	height:100%;
}
table {
	background-color:#ffffff !important;
}

.edit-info {
	display:none;
}

.panel-x {
	background-color:#ffffff;
	border:1px solid #dcdde1;
	padding-top:20px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:20px;
	border-radius:2px;
}
.header-bg {
	background-color:#ffffff;
}
.logo-brand a:hover {
	text-decoration:none;
}
.account-menu ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
.account-menu ul li {
	display:inline-block;
	padding-right:20px;
	padding-top:8px;
}
.account-menu ul li a:link {
	color:#0c5460;
}
.account-menu ul li a:visited {
	color:#0c5460;
}
.account-menu ul li a:active {
	color:#0c5460;
}
.account-menu .user-admin {
	color:#0c5460;
}
.inventory-item-notification-text {
	padding-top:8px;
	color:#0c5460;
}
.inventory-item-notification-text a:link {
	color:#0c5460;
}
.inventory-item-notification-text a:visited {
	color:#0c5460;
}
.inventory-item-notification-text a:active {
	color:#0c5460;
}
.nav-main-menu {
	color:#ffffff;
	background-color:#0c5460;
}
.nav-main-menu .active-highlight {
	border-left:3px solid #ffffff;
}
.header-sub {
	margin-top:-24px;
	padding:10px;
	background-color:#d1ecf1;
	border-bottom:1px solid #bdc3c7;
}
.container-search {
	display:none;
	background-color:#fffff5;
}

/* msg prompt */
.msg-success, .msg-error {

}

/* fa close */
.fa-window-close {
	cursor:pointer;
}
/* Page Loading */
.please-wait {
    position: fixed;
    left: 45%;
    top: 35%;
    display: none;
    z-index: 1000;
    height: 31px;
    width: 130px;
    background-color:white;
    text-align:center;
}
.wrapper-please-wait {
	top:0;
	position:fixed;
	z-index:99999;
	background-image:url('../img/35.png');
	min-width:100%;
	min-height:100%;
}
/* POS */
.inventory-item-notificaton-num {
	font-weight:500;
	font-size:13px;
	margin-top:8px;
	margin-right:3px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	background-color:red;
	color:#ffffff;
	border-radius:3px;
}
.inventory-item-notification-text a:link {
	color:#0c5460;
}
.inventory-item-notification-text a:visited {
	color:#0c5460;
}
.inventory-item-notification-text a:active {
	color:#0c5460;
}

.pos-sub-item ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

.pos-sub-item ul li {
	display:inline-block;
	padding-right:20px;
	padding-top:8px;
}
.pos-sub-item ul li a:link {
	color:#0c5460;
}
.pos-sub-item ul li a:visited {
	color:#0c5460;
}
.pos-sub-item ul li a:active {
	color:#0c5460;
}
.pos-sub-item ul li a:hover {
	text-decoration:none;
}
.pos-sub-item .active-sub-item {
	border-bottom:2px solid #0c5460;
	padding-bottom:1px;
}
.pos-item-success ul {
	list-style-type:none;
}
.h-inventory {
	padding-bottom:5px;
	margin-bottom:15px;
	border-bottom:1px solid #cfe2e6;
	font-weight:500;
}
.inventory-purchased-available-stock {
	margin-top:5px;
	font-size:13px;
	font-weight:700;
	color:red;
	display:none;
}
.p-s-1 {
	padding-right:5px;
	font-size:14px;
}
.p-s-2 {
	padding-left:5px;
	font-size:14px;
	font-weight:500;
}
.page-link-color {
	color:#0c5460;
}
.page-link-color-active {
	color:#ffffff;
}
.page-link-active {
	background-color:#0c5460;
}
.p-item-success {
	display:none;
}
.item-del {
	color:red;
}
.item-edit {
	color:blue;
}
.m-txt {
	font-weight:700;
}
.modal-txt {
	font-size:13px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right:5px;
	border-bottom:1px solid lightgray;
}
span#totalItems {
	font-weight:700;
}
/* Change Pass */
.p-note {
	font-size:14px;
}

.back-to-top
{
   cursor:pointer;
   background-color:#0c5460;
   color:#ffffff;
   position:fixed;
   right:0;
   bottom:0;
   z-index:99;
   display:none;
   padding-top:12px;
   padding-bottom:12px;
   padding-left:10px;
   padding-right:10px;
}

/* point of sale */
.transact-error {
	font-size:16px;
	color:red;
	display:none;
	font-weight:500;
	margin-left:10px;
}
.transactCompute, .btn-transact-items {
	display:none;
}

/* transaction log */
.current-month {
	border:2px solid #f6b93b;
}

.table-transaction td {
	border:1px solid #b2b2b2;
}

.col-t-odd {
	background-color:#e5ffff;
}

.col-t-even {
	background-color:#fff8e5;
}

.monthly-total,
.yearly-total {
	font-size:14px;
	margin-bottom:5px;
}

.tbl-return-items-1,
.tbl-return-items-2,
.tbl-return-items-3,
.tbl-return-items-4,
.tbl-return-items-5,
.tbl-return-items-6,
.tbl-return-items-7,
.tbl-return-items-8,
.tbl-return-items-9,
.tbl-return-items-10,
.tbl-return-items-11,
.tbl-return-items-12 {
	display:none;
}

/* bootstrap */
.modal-dialog,
.modal-content {
    /* 85% of window height */
    height: 85%;
}

.modal-dialog-user-account,
.modal-content-user-account,
.modal-dialog-inventory-summation,
.modal-content-inventory-summation,
.modal-dialog-transaction,
.modal-content-transaction {
	height: auto !important;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    max-height: -moz-calc(100% - 120px);
    max-height: -webkit-calc(100% - 120px);
    overflow-y: scroll;
    -webkit-overflow-y:scroll;
    -moz-overflow-y:scroll;
    -o-overflow-y:scroll;
}
